*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/* navbar section */
.header{
    background-image: url(banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 50%!important;
}
.navbar{
    height: 102px;
    background-color: #303030;
    padding: 0!important;
}
#navbar_logo{
  padding-left: 81px;
}
#nav_link_padding1{
    padding-left: 261px;
}
#nav_link_padding2{
    padding-left: 54px;
}
#nav_link_padding3{
    padding-left: 57px;
}
#nav_link_padding4{
    padding-left: 40px;
}
#nav_link_padding5{
    padding-left: 45px;
}
.nav-link{
    color: #ffffff!important;
    font-size: 25px;
    padding-right: 0!important;
    font-family: 'Oswald', sans-serif;
}
#navbar_search_logo{
    padding-right: 57px;
}
.nav-link:hover{
    color: #e8631c!important;
}
/* banner section */
#banner{
    height: 693px;
}
#banner_head1{
    padding-top: 267px;
    padding-left: 81px;
    font-size: 124.63px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    line-height: 0.7;
    margin: 0;
}
#banner_para{
    font-size: 29.72px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    padding-left: 85px;
    padding-top: 39px;
    margin: 0;
    line-height: 1.2;
}
#banner_button{
    font-size: 29.17px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #e8631c;
    margin-left: 80px;
    margin-top: 44px;
    border: none;
    height: 65;
    width: 322px;
}
#banner_button:hover{
    color: black;
}
/* dance tour section */
#dance{
    height: 1036px;
    background-image: url(dance-design.png),url(dance-background.png);
    background-position-x: 3px;
    background-position-y: -421px;
    background-repeat: no-repeat, repeat;
}
.card{
    height: 400px;
}
#dance_head{
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-top: 100px;
    margin: 0;
}
.dance_same1{
    font-size: 36.95px;
    color: #ffffff;
    padding-top: 38px;
    font-family: 'Oswald', sans-serif;
}
#dance_para{
    font-size: 29.72px;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 84px;
    margin: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}
#dance_card1{
    margin-left: 93px;
    width: 375px;
    height: 526px;
    padding: 0;
    border: none;
}
#dance_card2{
    margin-left: 49px;
    width: 375px;
    height: 526px;
    padding: 0;
    border: none;
}
#dance_card3{
    margin-right: 99px;
    width: 375px;
    height: 526px;
    padding: 0;
    border: none;
}
.dance_card_para{
    font-family: 'Oswald', sans-serif;
}
#dance_card1{
    background-color: #303030;
}
#dance_card2{
    background-color: #303030;
}
#dance_card3{
    background-color: #303030;
}
.card-text{
    font-size: 22.17px;
    color: #ffffff;
    line-height: 1.2;
    padding-top: 21px;
    margin: 0!important;
    font-family: 'Montserrat', sans-serif;
}
/* pricing section */
#price{
    background-color: #303030;
    background-image: url(price-img1.png),url(price-img2.png);
    background-repeat: no-repeat;
    background-position-x: 0px ,816px;
    background-position-y: -350px,370px;
}
#price_head{
    font-size: 75px;
    color: #ffffff;
    padding-top: 108px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#price_para{
    font-size: 29.72px;
    color: #ffffff;
    padding-top: 58px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
#price_img{
    height: 138px;
    width: 110px;
}
#price_card_unique1{
    background-color: #e8631c;
    height: 496px;
    width: 372px;
    padding-top: 67px;
    margin-left: 100px;
}
#price_card_unique2{
    background-color: #e8631c;
    height: 496px;
    width: 372px;
    padding-top: 67px;
    margin-left: 51px;
}
#price_card_unique3{
    background-color: #e8631c;
    height: 496px;
    width: 372px;
    padding-top: 67px;
    margin-right: 84px;
}
.price_head2{
    padding-top: 55px;
    font-size: 36.95px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.price_para2{
    padding-top: 38px;
    font-size: 22.17px;
    color: #ffffff;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
#price_row{
    padding-top: 84px;
    padding-bottom: 100px;
}
#price_button{
    background-color: #303030;
    color: #ffffff;
    height: 65px;
    width: 321px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
#price_button:hover{
    color: #e8631c;
}
.card-body{
    padding: 0!important;
}

.card-img{
    height: 126px;
    width: 102px!important;
    margin-top: 63px;
}
/* amazing section */
#amazing{
    display: flex;
}
#amazing_img1{
    width: 50%;
    height: 950px;
}
#amazing_img1 img{
    width: 100%;
    height: 100%;
}
#amazing_text1{
    background-color: #e8631c;
    width: 50%;
    height: 950px;
    background-image: url(Amazing-img1.png),url(price-img2.png);
    background-repeat: no-repeat;
    background-position-x: 160px,68px;
    background-position-y: 339px,-716px;
}

.amazing_head{
    font-size: 75px;
    color: #ffffff;
    padding-top: 320px;
    padding-left: 85px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#amazing_para{
    font-size: 29.72px;
    color: #ffffff;
    padding-left: 85px;
    padding-top: 58px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
#amazing_button{
    font-size: 29.17px;
    color: #ffffff;
    background-color: #303030;
    width: 324px;
    height: 67px;
    margin-left: 85px;
    margin-top: 73px;
    border: none;
    font-family: 'Oswald', sans-serif;
}
#amazing_button:hover{
    color: #e8631c;
}
#amazing1{
    display: flex;
    padding-top: 0;
}
#amazing_text2{
    background-color: #e8631c;
    width: 50%;
    height: 950px;
    background-image: url(best.png);
    background-repeat: no-repeat;
    background-position-x: -6px;
    background-position-y: 369px;
}
/* statistics section */
#statistics{
    height: 974px;
    background-color: #303030;
}
#statistics_head{
    font-size: 75px;
    color: #ffffff;
    padding-top: 208px;
    margin: 0;
    line-height: 0.8;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#statistics_para{
    font-size: 29.72px;
    color: #ffffff;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
#statistics_head1{
    font-size: 66.84px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#statistics_head2{
    font-size: 41.67px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
#statistics_main_box{
    padding-top: 193px;
}
#statistics_head3{
    font-size: 66.84px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#statistics_head4{
    font-size: 41.67px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
#statistics_head5{
    font-size: 66.84px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#statistics_head6{
    font-size: 41.67px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
#statistics_col{
   
}
/* herbert section */
#herbert{
    height: 967px;
    background-image: url(herbert1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #e8631c;
    background-blend-mode: multiply;
}
#herbert_para{
    font-size: 50px;
    color: #ffffff;
    padding-top: 340px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.3;
}
#herbert_head{
    font-size: 58.33px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
/* email section */
#email{
    background-color: #e8631c;
    background-image: url(email1.png),url(email2.png);
    background-repeat: no-repeat;
    background-position-x: 718px,2px;
    background-position-y: -206px,-259px;
}
#email_head{
    font-size: 75px;
    color: #ffffff;
    padding-top: 133px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
#email_para{
    font-size: 29.72px;
    padding-top: 58px;
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}
form{
    margin: 0 auto;
}
#email_in{
    border: none;
    width: 565px;
    height: 63px;
    padding: 22px 32px;
    font-size: 25px;
    color: #7f7f7f;
    margin-top: 54px;
    margin-bottom: 161px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}
#email_button{
    margin-top: 52px;
    margin-left: -95px;
    height: 68px;
    width: 224px;
    font-size: 25px;
    background-color: #303030;
    color: #ffffff;
    border: none;
    font-family: 'Oswald', sans-serif;
    border: none;
    outline: none;
}
#email_button:hover{
    color: #e8631c;
}
/* footer section */
#footer{
    height: 478px;
    background-color: #303030;
}
.footer_para1{
    font-size: 33.33px;
    color: #ffffff;
    padding-top: 118px;
    padding-left: 58px;
    font-family: 'Oswald', sans-serif;
}
#footer_para{
    font-size: 25px;
    color: #ffffff;
    padding-left: 58px;
    line-height: 1.1;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#facebook{
    padding-right: 10px;
    padding-left: 55px;
    padding-top: 37px;
}
.facebook1{
    padding-top: 37px;
    padding-right: 10px;
}
.footer_para2 a{ 
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.footer_para1{
    padding-bottom: 38px;
}
.same{
    padding-left: 20px;
}
.footer_para2 a:hover{
    color: #e8631c;
    text-decoration: none;
}
#footer a:hover{
    color: #e8631c;
}




